<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<form method="POST" action="/new">
			<h1>Enter Your Message Here:</h1>
			<label for="name">Name</label>
			<input type="text" id="name" name="name" />
			<label for="message">Message</label>
			<input type="text" id="message" name="message" />
			<button type="submit" id="submitButton">Submit</button>
		</form>
	</body>
</html>
